/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/
// whatever other global configurations for tests
process {
    cpus   = 2
    memory = 10.GB
    publishDir = [ path: 'output' ]
}

// Include config with test dataset definitions
// includeConfig 'test_data.config'

params.input = "/workspace/cazymes/nf-core-test/assets/secuencias_11.txt"
