/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

// whatever other global configurations for tests
process {
    cpus   = 2
    memory = 10.GB
    //publishDir = [ path: 'output' ]
}

includeConfig '/workspace/nf-test/nf-test/conf/base.config'


params.fasta = '/workspace/nf-test/nf-test/assets/Saccharomyces_cerevisiae.R64-1-1.dna.toplevel.fa'
params.gft   = '/workspace/nf-test/nf-test/assets/Saccharomyces_cerevisiae.R64-1-1.113.gtf'